## AccelerateAI - Time Series Analysis and Forecasting

### Time Series Feature Engineering

In [18]:
import pandas as pd

from sktime.transformations.series.lag import Lag

In [2]:
from sktime.datasets import load_airline
X = load_airline()

In [4]:
X[0:5]

Period
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
Freq: M, Name: Number of airline passengers, dtype: float64

In [10]:
t1 = Lag(1)
X_1 = t1.fit_transform(X)
X_1[0:5]

Period
1949-01      NaN
1949-02    112.0
1949-03    118.0
1949-04    132.0
1949-05    129.0
Freq: M, dtype: float64

In [15]:
t2 = Lag([2, 3, 4])
X_2 = t2.fit_transform(X)
X_2[0:5]

,lag_2__Number of airline passengers,lag_3__Number of airline passengers,lag_4__Number of airline passengers
Period,,,
1949-01,NaN,NaN,NaN
1949-02,NaN,NaN,NaN
1949-03,112.0,NaN,NaN
1949-04,118.0,112.0,NaN
1949-05,132.0,118.0,112.0

In [35]:
#Convert to dataframe
df = pd.DataFrame(X).rename(columns={'Number of airline passengers': 'passengers'})
df['Date'] = df.index

In [36]:
df.head()

         passengers     Date
Period
1949-01       112.0  1949-01
1949-02       118.0  1949-02
1949-03       132.0  1949-03
1949-04       129.0  1949-04
1949-05       121.0  1949-05

In [40]:
from tsfresh import extract_features
#extracted_features = extract_features(df, column_id="Date")